body {
	background-color: #efefef;
	font-family: 'Lato', sans-serif;
}

.main_container {
	
	margin-top: 25px;
}

.form_title {

	padding-bottom: 25px;
}

.form_p {
	border: 1px solid #efefef;
	padding: 25px;
	background-color: #ffffff;
}

.form-group {
	margin-bottom: 30px;
}

label {
	padding-right: 10px;
	color: teal;
}

.text-muted {
	
	padding-left: 15px;
}